/****************************************   IMPORT FONTS      **********************************/
@font-face {
    font-family: 'Mona Sans';
    src:
      url('/assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/assets/fonts/Mona-Sans.ttf') format('ttf-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

/****************************************   COLORS VARIABLES      **********************************/

:root{
    /****************************************   COLORS VARIABLES      **********************************/
    --tokena-dark-blue: #0065EA;
    --tokena-light-blue: #006EFF;
    --tokena-red: #CB0101;
    --tokena-green: #01B130;
    --tokena-yellow: ##F2D604;
    --tokena--dark: #1D1D1D;
    --tokena-dark-gray: #6B7280;
    --tokena-gray: #D1D5DB;
    --tokena-light-gray: #F3F4F6;
    --tokena-white: #FFFFFF;
    --tokena-btn-bg: #43ff640f;

    /****************************************   FONT SIZE      **********************************/
    --main-font: 'Mono Sans';
    --text-xxs: 0.625rem; /* 10px */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
}

/****************************************   BASE STYLE      **********************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: var(--main-font);
}

/****************************************   TOP NAV      **********************************/
.is-hidden {
  display: none;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 20px;
  border-bottom: 1px solid var(--tokena-light-gray);
  background: var(--tokena-white);
}

.top-nav-left {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 192px;
}

.btn-menu-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-dark-gray);
  background: var(--tokena-white);
}

.welcome-message {
  width: 150px;
  height: 38px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.welcome-message h2 {
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: -0.4%;
  color: var(--tokena--dark);
}

.welcome-message p {
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: -0.4%;
  color: var(--tokena-dark-gray);
}

.top-nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.devise-dropdown {
  width: 89px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-dark-gray);
  background: var(--tokena-white);
}

.devise-dropdown select {
  border: none;
  --webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--text-xs);
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--tokena-dark-gray);
  line-height: 16px;
}

.devise-dropdown select::-ms-expand {
  display: none;
}


/****************************************   TOP NAV      **********************************/
.balance-trending {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 22px;
  padding: 12px 20px;
}

.balance-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--tokena-light-gray);
}

.balance-card-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.balance-card-top h1 {
  font-size: var(--text-lg);
  font-weight: 600;
  line-height: -0.4%;
  color: var(--tokena--dark);
}

.balance-card-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.wallet-balance {
  width: 152.5px;
  color: var(--tokena-dark);
  font-size: var(--text-lg);
  font-weight: 700;
  line-height: 28px;
}

.balance-card-badge {
  width: 152.5px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.balance-card-badge span {
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  background: rgba(1, 177, 48, 0.15);
  font-size: 10px;
  font-weight: 600;
  line-height: 12px; 
  color: var(--tokena-green);
}

.balance-card-badge p {
  color: var(--tokena-dark-gray, #6B7280);
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: 16px;
}

.balance-card-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--tokena-dark-blue);
}

.operation-card {
  width: 152.5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-white);
  background-color: var(--tokena-btn-bg);
}

.operation-card span {
  color: var(--tokena-light-blue);
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: 20px;
}

.operation-card img {
  color: var(--tokena-light-blue);
}