/****************************************   IMPORT FONTS      **********************************/
@import url('https://fonts.cdnfonts.com/css/mona-sans');

/****************************************   COLORS VARIABLES      **********************************/

:root{
    /****************************************   COLORS VARIABLES      **********************************/
    --tokena-dark-blue: #0065EA;
    --tokena-light-blue: #006EFF;
    --tokena-red: #CB0101;
    --tokena-green: #01B130;
    --tokena-yellow: ##F2D604;
    --tokena--dark: #1D1D1D;
    --tokena-dark-gray: #6B7280;
    --tokena-gray: #D1D5DB;
    --tokena-light-gray: #F3F4F6;
    --tokena-white: #FFFFFF;
    --tokena-btn-bg: #43ff640f;
    --logo-bg-color: rgba(0, 110, 255, 0.22);
    --red-badge: rgba(203, 1, 1, 0.15);
    --green-badge: rgba(1, 177, 48, 0.15);
    --card-symbol-color: rgba(107, 114, 128, 0.60);

    /****************************************   FONT SIZE      **********************************/
    --text-xxs: 0.625rem; /* 10px */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --main-line-height: -0.4%;
}

/****************************************   BASE STYLE      **********************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: 'Mono Sans', sans-serif;
}

/****************************************   MAIN CONTENT      **********************************/
.main-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 28px;
}

/****************************************   SIDEBAR NAV      **********************************/
#sidebar {
  width: 240px;
  height: 812px;
  padding: 16px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  border-right: 1px solid var(--tokena-gray);
  background: var(--tokena-white);
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

#sidebar.active {
  left: 0;
}

.sidebar-container {
  height: 574px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 36px;
}

.logo-container {
  width: 212px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  background: var(--tokena-btn-bg);
  border-radius: 10px;
}

.logo {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--logo-bg-color);
  border-radius: 10px;
}

.logo-heading {
  width: 132px;
  width: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.logo-heading h4 {
  font-size: var(--text-xs);
  font-weight: 700;
  color: var(--tokena-dark-blue);
  line-height: var(--main-line-height);
}

.logo-heading p {
  font-size: var(--text-xxs);
  font-weight: 500;
  color: var(--tokena-light-blue);
  line-height: var(--main-line-height);
}

/****************************************   SIDEBAR NAV - LINKS      **********************************/
.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.sidebar-menu h4  {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--tokena-dark-gray);
  line-height: var(--main-line-height);
}

.sidebar-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.sidebar-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-list-item {
  width: 212px;
  height: 42px;
  gap: 4px;
}

.sidebar-menu-list-item:first-child {
  border-radius: 10px;
  border: 1px solid var(--tokena-light-blue);
  background: var(--tokena-light-blue);
  color: var(--tokena-white);
}

.sidebar-menu-list-item:hover {
  border-radius: 10px;
  border: 1px solid var(--tokena-light-blue);
  background: var(--tokena-light-blue);
  color: var(--tokena-white);
}

.sidebar-menu-anchor{
  display: flex;
  align-items: center;
  padding: 12px 8px;
  gap: 4px;
  align-self: stretch;
  text-decoration: none;
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: var(--main-line-height);
  color: var(--tokena-dark);
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 1px solid var(--tokena-light-gray);
  border-radius: 10px;
  background: var(--tokena-white);
}

.user-data {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid var(--tokena-light-gray);
  background: url(/assets/images/user-profil.png) lightgray 50% / cover no-repeat;
}

.user-details {
  width: 122px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details h4 {
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: 16px;
  color: var(--tokena--dark);
}

.user-details p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--text-xs);
  font-weight: 400;
  line-height: var(--main-line-height);
  color: var(--tokena-dark-gray);
}

/****************************************   TOP NAV      **********************************/
.is-hidden {
  display: none;
}

.is-active {
  display: block;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 20px;
  border-bottom: 1px solid var(--tokena-light-gray);
  background: var(--tokena-white);
}

.top-nav-left {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 192px;
}

#toggle-sidebar {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-dark-gray);
  background: var(--tokena-white);
  cursor: pointer;
}

.welcome-message {
  width: 150px;
  height: 38px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.welcome-message h2 {
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: var(--main-line-height);
  color: var(--tokena--dark);
}

.welcome-message p {
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: var(--main-line-height);
  color: var(--tokena-dark-gray);
}

.top-nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.devise-dropdown {
  width: 89px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-dark-gray);
  background: var(--tokena-white);
}

.devise-dropdown select {
  min-width: 50px;
  border: none;
  --webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--text-xs);
  font-family: var(--main-font);
  font-weight: 500;
  text-align: center;
  color: var(--tokena-dark-gray);
  line-height: var(--main-line-height);
  padding: 2px 12px;
}

.devise-dropdown select::-ms-expand {
  display: none;
}

.theme-switcher {
  cursor: pointer;
}


/****************************************   BALANCE & TRENDING      **********************************/
.balance-trending {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 22px;
  padding: 12px 20px;
}

.balance-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--tokena-light-gray);
}

.balance-card-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.balance-card-top h1 {
  font-size: var(--text-lg);
  font-weight: 600;
  line-height: var(--main-line-height);
  color: var(--tokena--dark);
}

.balance-card-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.wallet-balance {
  width: 152.5px;
  color: var(--tokena-dark);
  font-size: var(--text-lg);
  font-weight: 700;
  line-height: var(--main-line-height);
}

.balance-card-badge {
  width: 152.5px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.balance-card-badge span {
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  background: rgba(1, 177, 48, 0.15);
  font-size: 10px;
  font-weight: 600;
  line-height: var(--main-line-height); 
  color: var(--tokena-green);
}

.balance-card-badge p {
  color: var(--tokena-dark-gray, #6B7280);
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: var(--main-line-height);
}

.balance-card-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--tokena-dark-blue);
}

.operation-card {
  width: 152.5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-white);
  background-color: var(--tokena-btn-bg);
}

.operation-card span {
  color: var(--tokena-light-blue);
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: var(--main-line-height);
}

.operation-card img {
  stroke: var(--tokena-dark-blue);
}

.trending-container {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trending-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
}

.view-more-trending {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.view-more-trending a {
  text-decoration: none;
  color: var(--tokena-dark-gray);
  font-size: var(--text-xs);
  font-weight: 500;
}


/****************************************   TRENDING CONTAINER     **********************************/
.trending-card-container {
  width: 335px;
  height: 194px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat((2, 1fr));
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.trending-card {
  width: 164.5px;
  height: 94px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--tokena-light-gray);
  background-color: var(--tokena-white);
}

.trending-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.trending-card-coin {
  display: flex;
  align-items: center;
  gap: 4px;
}

.coin-image {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.coin-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.coin-name {
  color: var(--tokena-dark-gray);
  font-size: var(--text-xs);
  font-weight: 700;
  line-height: -0.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.coin-symbol {
  color: var(--card-symbol-color);
  font-size: var(--text-xxs);
  font-weight: 700;
  line-height: -0.4%;
  text-transform: uppercase;
}

.trending-card-badge {
  width: 59px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  gap: 3px;
  border-radius: 100px;
  font-size: var(--text-xxs);
}

.negative {
  background: var(--red-badge);
}

.text-negative{
  color: var(--tokena-red);
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: -0.4%;
}

.positive {
  background: var(--green-badge);
}

.text-positive {
  color: var(--tokena-green);
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: -0.4%;
}

.neutral {
  background: var(--tokena-light-gray) ;
}

.text-neutral{
  color: var(--tokena-dark-gray);
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: -0.4%;
}

.trending-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.trending-card-price {
  color: var(--tokena-dark-gray);
  font-size: var(--text-xs);
  font-weight: 700;
  line-height: -0.4%;
}

.trending-card-volume {
  color: var(--tokena-dark-gray);
  font-size: var(--text-xxs);
  font-weight: 500;
  line-height: -0.4%;
}

/****************************************   SEARCH AND CATEGORIES FILTER      **********************************/

.search-category {
  width: 335px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

#search-form {
  width: 335px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  border: 1px solid var(--tokena-light-gray);
  border-radius: 10px;
  background: var(--tokena-white);
}

#search-input {
  border: none;
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--tokena-dark-gray);
  line-height: -0.4%;
}

#crypto-category {
  width: 335px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: auto;
  border: 1px solid var(--tokena-light-gray);
  border-radius: 10px;
  background: var(--tokena-white);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--tokena-dark-gray);
  line-height: -0.4%;
}

/****************************************   CRYPTO TABLE  **********************************/
.market-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--tokena-light-gray);
  margin-inline: 20px;
  padding: 0;
  gap: 10px;
}

.market-heading {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  padding: 16px;
}

.market-heading h3 {
  font-size: var(--text-base);
  font-weight: 600;
  line-height: -0.4%;
  color: var(--tokena--dark);
}

.show-more {
  width: 36px;
  height: 36px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--tokena-light-gray);
  background: var(--tokena-white);
}

.show-more svg {
  margin: -4px -9px;
}

.market-table {
  max-width: 1152px;
  min-height: 724px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-collapse: collapse;
  overflow: hidden;
  overflow-x: scroll;
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: -0.4%;
  color: var(--tokena--dark);
}

thead {
  width: 1152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cell {
  height: 44px;
  padding: 12px 24px;
  gap: 10px;
  border-bottom: 1px solid var(--tokena-gray);
  background: var(--tokena-light-gray);
}

.header-cell:first-child {
  width: 56px;
}

.header-cell:nth-child(n+2), .item-cell:nth-child(n+2) {
  width: 186px;
  max-width: 201.5px;
}

.header-cell:last-child, .item-cell:last-child {
  width: 180px;
}

.table-row {
  width: 1152px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-cell {
  display: flex;
  height: 56px;
  padding: 12px 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid var(--tokena-gray);
  background: var(--tokena-white);
}

.item-cell:nth-child(n+2) {
  width: 186px;
  max-width: 201.5px;
}

.item-cell img {
  width: 18px;
  height: 18px;
  border-radius: 24px;
}

.colored-text-positive {
  width: 49px;
  height: 24px;
  background-color: var(--green-badge);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 8px;
  border-radius: 100px;
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--tokena-green);
  line-height: -0.4%;
}

.colored-text-negative {
  width: 49px;
  height: 24px;
  background-color: var(--red-badge);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 8px;
  border-radius: 100px;
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--tokena-red);
  line-height: -0.4%;
}

.colored-text-neutral {
  width: 49px;
  height: 24px;
  background-color: var(--tokena-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 8px;
  border-radius: 100px;
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--tokena-dark-gray);
  line-height: -0.4%;
}

/****************************************   RESPONSIVENESS      **********************************/

@media screen and (min-width:425px){
  /* TRENDING SECTION */
  .balance-trending {
    width: 385px;
  }

  .balance-card {
    width: inherit;
  }

  .operation-card {
    width: 175px;
  }

  .trending-container {
    width: inherit;
  }

  .trending-card-container {
    width: inherit;
    gap: 12px;
  }

  .trending-card {
    width: 185px;
  }

  #search-form, #crypto-category {
    width: 385px;
  }
}

@media screen and (max-width: 768px) {
  #sidebar {
    position: fixed;
    left: -100%;
    z-index: 999;
  }

  #sidebar.active {
    left: 0;
  }
}

@media screen and (min-width:768px) {
  .main-content {
    padding-inline: 20px;
    gap: 64px;
  }

  /* TRENDING SECTION */
  .balance-trending {
    width: 676px;
  }

  .balance-card {
    width: inherit;
    height: 134px;
  }

  .balance-card-amount {
    width: 676px;
    justify-content: space-between;
  }

  .balance-card-btn {
    width: 676px;
  }

  .operation-card {
    width: 323px;
  }

  .trending-container {
    width: 676px;
    height: 134px;
  }

  .trending-card-container {
    width: 676px;
    gap: 12px;
  }

  .trending-card {
    width: 335px;
  }

  .trending-card-top {
    justify-content: space-between;
  }

  /* SEARCH BAR AND CATEGORY FILTER */
  .search-category {
    width: 720px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
    margin-top: 36px;
  }

  #search-form {
    width: 312px;
  }

  #crypto-category {
    width: 234px;
  }
}

@media screen and (min-width:1024px){
  /* SIDEBAR */
  #sidebar {
    position: static;
    z-index: auto;
    left: 0;
  }

  #toggle-sidebar {
    display: none;
  }

  .main-container {
    display: flex;
  }

  .main-content {
    width: 100%;
    padding-inline: 24px;
  }

  /* TRENDING SECTION */
  .balance-trending {
    width: 950px;
  }

  .balance-card {
    width: inherit;
    height: 134px;
  }

  .balance-card-amount {
    width: 700px;
    justify-content: space-between;
  }

  .balance-card-btn {
    width: 950px;
  }

  .operation-card {
    width: 455px;
  }

  .trending-container {
    width: 950px;
    height: 134px;
  }

  .trending-card-container {
    width: 950px;
  }

  .trending-card {
    width: 350px;
  }

  .trending-card-top {
    justify-content: space-between;
  }

  .search-category {
    width: 990px;
  }

  #search-form {
    width: 312px;
  }

  #crypto-category {
    width: 234px;
  }
  
  .market-heading {
    height: 68px;
  }
}

@media screen and (min-width:1440px){
  #sidebar {
    width: 240px;
  }

  .main-container {
    width: 1200px;
  }

  .main-content {
    width: 1200px;
    gap: 38px;
  }

  .top-nav {
    width: 1270px;
    margin-inline: -24px;
  }
  
  /* TRENDING SECTION */
  .balance-trending {
    width: 1200px;
    height: 134px;
    flex-direction: row;
    gap: 22px;
    margin-top: -24px;
    padding-inline: 0;
  }

  .balance-card {
    width: 316px;
    height: 136px;
  }

  .balance-card-amount {
    width: 316px;
    justify-content: space-between;
  }

  .balance-card-btn {
    width: 316px;
  }

  .operation-card {
    width: 143px;
  }

  .trending-container {
    height: 143px;
  }

  .trending-card-container {
    width: 814px;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-between;
  }

  .trending-card {
    width: 199px;
    height: 94px;
    padding: 12px;
  }

  .trending-card-top {
    justify-content: space-between;
  }

  .search-category {
    width: 1200px;
    margin: 0;
    align-items: flex-start;
    padding: 0;
  }

  .market-data {
    width: 1200px;
    margin: 0;
  }

  .market-table {
    width: auto;
  }
}